<div class="inner cover">
    <h1 class="cover-heading">Daniel Maher</h1>

<div class="jumbotron">
        <p class="lead">Welcome to my portfolio</p>
        <p class="lead">
              <a href="http://www.intellirails.com" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>
          </div>

          <div class="mastfoot">
            <div class="inner">

            </div>
          </div>
        </div>
      </div>
</div>
