<div class="inner cover">
    <h1 class="cover-heading">Daniel Maher</h1>

<div class="jumbotron">
        <p class="lead">Welcome to my portfolio</p>
        <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
          </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
        </div>
      </div>
</div>
