
<nav class="navbar navbar-expand-lg navbar-light bg-dark">


  <div class="container">

<%= link_to image_tag("intellirails.png", size: "172x172"), root_path, id: "logo" %>
         <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "About", '#' %></li>
             <li><%= link_to "Resources", '#' %></li>
             <li><%= link_to "Contact", '#' %></li>
           </ul>
</div>

</nav>
